@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

body,td,th {
	font-size: 12px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal;
	text-decoration: none;
}

image {
	border : none;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color:#09F;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color:#09F;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color:#09F;
	text-decoration: none;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color:#09F;
	text-decoration: none;
}
.docter_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#069;
}
.img_border{
	margin:25px 0px 10px 0px;
	border:#000 1px solid;
}
.doctor_div{
	margin:10px 0px 10px 0px;
	width:225px;
	height:220px;
	float:left;
}
.doctor_div table tr td{
	color:#FFF;
}
.doctor_div table tr td img{
	margin:10px 0px 10px 0px;
	border:#FFF 3px solid;
}
.doctor_info{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#069;
	line-height:24px;
}
