{% extends "master.html" %}



{% block content %}
<form action="/save_password" method="post" class="baseform">
	<p><label class="label">Old Password</label><input type="password" name="old_password" class="field"/></p>
	<p><label class="label">New Password</label><input type="password" name="new_password" class="field"/></p>
	<p><label class="label">New Confirmed Password</label><input type="password" name="new_repassword" class="field"/></p>
	<p><input type="submit" value="Save"/>&nbsp;<input type="button" value="Cancel"/></p>
</form>
		
{% endblock %}