{% extends "master.html" %}

{% set current_tab = "t6" %}

{% block content %}
<div class="grey_box">
	<div class="yellow_box height_600">
		<p class="text_right"><a class="add_a" href="/m_nurse_update?action_type=n">Add New Nurse</a></p>
		
		<table class="datalist" width="100%">
		<thead>
			<tr>
		     	<th scope="col">Nurse Name</th>
		     	<th scope="col">Belong to Clinic</th>
			</tr>
		</thead>
		<tbody>
			{% for c in paginate_nurses.items%}
			<tr>
		        <th scope="row"><a href="/m_nurse_update?id={{c.id}}&action_type=m"><b>{{c.getUserProfile()}}</b></a></th>
		        <td>
					{% for cid in c.clinic %}
		        		{{cid|getByID("Clinic","name")}}&nbsp;
		        	{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
		
		<div class="pagescontainer">
		   {{paginate_nurses.pager('$link_first $link_previous ~3~ $link_next $link_last',curpage_attr={'class': 'current'},
		   	              symbol_first='First',symbol_last='Last',symbol_previous='Pre', symbol_next='Next'
		   )}}
		</div>
	</div>
</div>
		
{% endblock %}