{% extends "master.html" %}

{% set current_tab = "t7" %}

{% block extJS %}
<script language="JavaScript" type="text/javascript">
//<![CDATA[
	$(document).ready(function(){
			
		$("form").submit(function(){
			var msg = [];
			if(!$("#email").val()){
				msg.push("Please fill in the doctor's' email! It would be the login name for the user !");
			}
			if(!$("#password").val()){
				msg.push("Please fill in the password!");
			}
			if(!$("#repassword").val()){
				msg.push("Please fill in the confirmed password!");
			}
			if($("#password").val()!=$("#repassword").val()){
				msg.push("The password is not the same with the confirmed password");
			}
			if(!$("#first_name").val()){
				msg.push("Please fill in the first name !");
			}
			if(!$("#last_name").val()){
				msg.push("Please fill in the last name !");
			}
			
			
			if(msg.length>0){
				var content = "";
				for(var i=0;i<msg.length;i++){
					content += "<li>" + msg[i] + "</li>";
				}
				$.pnotify({
					    pnotify_text: '<div class="error"><ul>'+content+'</ul></div>',
					    pnotify_nonblock: true,
					    pnotify_mouse_reset: false
					});
				return false;			
			}
		});
		
	});
//]]>
</script>
{% endblock %}

{% block content %}
		<div class="baseform">
			<p>
				{% if not user.image_url %}
					<img src="/static/images/no_images.jpg" class="left_margin_10"/>
				{% else %}
					<img src="{{user.getImage().url}}" class="left_margin_10"/>
				{% endif %}
			</p>	
			
			<br class="clear"/>
			<p><label for="email" class="label">E-mail</label><span class="field">{{user.email}}</span></p>		
			<p><label for="first_name" class="label">First Name</label><span class="field">{{user.first_name}}</span></p>
			<p><label for="last_name" class="label">Last Name</label><span class="field">{{user.last_name}}</span></p>
			<p><label for="phone" class="label">Phone</label><span class="field">{{user.phone}}</span></p>
			<p><label for="birthday" class="label">Birthday</label><span class="field">{{user.birthday}}</span></p>
		</div>
		
{% endblock %}