<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block keyword %}
		<meta content="" name="Keywords" /> 
	{% endblock %}
	
	<title>{% block title %}IEASYBOOK {% block subtitle %}{% endblock %}{% endblock %}</title>
	<link href="{{url_for('.static', filename='css/jquery.pnotify.default.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('.static', filename='css/jquery-ui-1.8.12.custom.css')}}" rel="stylesheet" type="text/css" />
	<link href="{{url_for('.static', filename='css/screen.css')}}" rel="stylesheet" type="text/css" />
	{% block extCSS %}{% endblock %}
	
		
	<script src="{{url_for('.static', filename='js/jquery-1.6.min.js')}}" type="text/javascript"></script>
	<script src="{{url_for('.static', filename='js/jquery.pnotify.min.js')}}" type="text/javascript"></script>
	<script src="{{url_for('.static', filename='js/jquery-ui-1.8.12.custom.min.js')}}" type="text/javascript"></script>
	
	
	<script language="JavaScript" type="text/javascript">
    //<![CDATA[
    	$(document).ready(function(){
    		$("#search_input").autocomplete({
    			source: function(request, response){
    				$.ajax({
						url: "/search",
	    				dataType: "jsonp",
	    				data: {
							q : $("#search_input").val()
						},
						success: function( data ) {
							response( $.map( data.geonames, function( item ) {
								return {
									label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
									value: item.name
								}
							}));
						}		
    				});
    			}
    		});
    		
    	
			{% for category,message in get_flashed_messages(with_categories=true) %}								
				$.pnotify({
					    pnotify_text: '{{message}}',
					    pnotify_nonblock: true,
					    pnotify_mouse_reset: false,
					    pnotify_opacity: .8,
						{% if category == 'ERROR' %}
							pnotify_type: 'error',	
						{% endif %}
					    pnotify_animation: 'show'
					});
			{% endfor %}
		});
    //]]>
   </script>

	
	
	{% block extJS %}{% endblock %}
</head>

<body>

		{% block header %}
			<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
			    <td width="337"><a href="/index"><img src="/static/images/index_01.jpg" width="337" height="99" /></a></td>
			    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			        <tr>
			          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
			              <tr>
			                <td width="250">&nbsp;</td>
			                <td width="230">
			                	<!-- 
			                	<img src="/static/images/index_03.jpg" width="230" height="48" />
			                	 -->
			                	 <a href="/index" class="login_top">Welcome to Ieasybooking !</a> 
			                	
			                	<!-- 
			                	<img src="/static/images/index_09.jpg" width="47" height="17" />
			                	 -->
			                	 [ <a href="/logout_handler" class="login_top">Logout</a> ]
			                </td>
			                <td width="40">
			                	<img src="/static/images/index_06.jpg" width="37" height="37" /></td>
			                <td><img src="/static/images/index_07.jpg" width="37" height="37" /></td>
			              </tr>
			            </table></td>
			        </tr>
			        <tr>
			          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			              <tr>
			                <td width="94"><a href="{{url_for('list_clinic')}}"><img src="/static/images/schedule_03.jpg" width="94" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="94"><a href="{{url_for('my_booking')}}"><img src="/static/images/schedule_05.jpg" width="94" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                
			                <td width="75"><a href="{{url_for('my_message')}}"><img src="/static/images/schedule_07.jpg" width="75" height="32" /></a></td>
			                <!-- 
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="56"><a href="{{url_for('m_clinic_list')}}"><img src="/static/images/schedule_09.jpg" width="56" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="68"><a href="{{url_for('m_doctor_list')}}"><img src="/static/images/schedule_11.jpg" width="68" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="58"><a href="{{url_for('m_nurse_list')}}"><img src="/static/images/schedule_13.jpg" width="58" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="50"><a href="{{url_for('m_user_list')}}"><img src="/static/images/schedule_15.jpg" width="50" height="32" /></a></td>
			                <td width="2"><img src="/static/images/schedule_04.jpg" width="2" height="32" /></td>
			                <td width="94"><a href="{{url_for('m_events_list')}}"><img src="/static/images/schedule_17.jpg" width="73" height="32" /></a></td>
			                 -->
			                 
			                 
			              </tr>
			            </table></td>
			        </tr>
			      </table></td>
			  </tr>
			</table>
		{% endblock %}

		
		
		{% block content %}
			
		{% endblock %}
		
		{% block footer %}
			<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
			  <tr>
			    <td><img src="/static/images/index_54.jpg" width="1000" height="80" /></td>
			  </tr>
			</table>
		{% endblock %}

</body>
</html>